.myContainer {
    display: flex;
}

.cardContent {
    display: flex;
    position: relative;
    justify-content: center;
}

.cardContentButtons {
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.box {
    padding-top: 100px;
    flex-grow: 7;
    background: linear-gradient( 0deg, #fff, #ccffff 40%, #b3e6ff);
}


/*desktop style*/

.submitBtn {
    display: flex;
    align-self: flex-end;
    flex-direction: column-reverse;
    justify-content: flex-end;
    order: 99;
}

.center {
    display: flex;
    position: absolute;
    justify-content: center;
}

.topCenter {
    display: flex;
    justify-content: center;
}


/*.card {
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 2px;
  padding: 2rem;
  top: 3rem;
  margin: auto;
}*/

.card {
    display: flex;
    border-radius: 2px;
    padding: 2rem;
    top: 3rem;
}

button:focus {
    outline: none;
    background-color: #f9a34c;
}


/*moblie style*/

@media(max-width: 600px) {}

x) {}

x) {}

) {}
