body {
    /*font-family: roboto;*/
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    padding-top: 40px;

}

.myContainer {
    display: flex;
}

.orangeLine:hover {
    border-bottom: 3px solid #f77c00;
}

.spaceAround {
    display: flex;
    justify-content: space-around;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.cardContent {
    display: flex;
    position: relative;
    justify-content: center;
}

.cardContentButtons {
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.loginButtons {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.closeButtonLogin {
    padding-right: 10px;
}

.rightSide {
    display: flex;
    justify-content: center;
}

.leftSide {
    display: flex;
    justify-content: flex-start;
}

.rightSideNavButtons {
    display: flex;
    justify-content: flex-end;
    ;
}

.marginTop {
    display: flex;
    margin-top: 50px;
}


/*desktop style*/

.submitBtn {
    display: flex;
    align-self: flex-end;
    flex-direction: column-reverse;
    justify-content: flex-end;
    order: 99;
}

.center {
    display: flex;
    position: relative;
    justify-content: center;
}

.centerAbsolute {
    display: flex;
    justify-content: center;
    position: absolute;
}

.myMargin {
    margin-bottom: -35px;
}

.topCenter {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    border-radius: 2px;
    padding: 2rem;
    top: 3rem;
    justify-content: center;
}
.home-card{

        display: flex;
        border-radius: 2px;
        padding: 2rem;
        /*top: 3rem;*/
        justify-content: center;
        flex-direction: column;
        align-items: center;
}

.lowerIconsFooter {
    display: flex;
    justify-content: space-between;
    /*justify-content: center;*/
    /*padding-left: 10px;*/
}

.paddingBottom {
    padding-bottom: 30px;
}

.leftPadIt {
    padding-left: 160px;
}

.lowerFooterText {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: white;
}

.striped>tbody>tr:nth-child(even)>td, .striped>tbody>tr:nth-child(even)>th {
    background-color: #e0e0e0;
}

button:focus {
    outline: none;
    background-color: #f9a34c;
}

.sbButton {
    background-color: #f9a34c;
}

.sbButton:focus {
    background-color: #f9a34c;
}

.sbButton:hover {
    background-color: #f9a34c;
}

.wButton {
    background-color: #ffffff;
    color: #000000;
}

.wButton:focus {
    background-color: #f9a34c;
}

.wButton:hover {
    background-color: #f9a34c;
}

.topBlock {
    display: flex;
}

#textarea1:focus {
    border-bottom: 1px solid #f9a34c;
    box-shadow: 0 1px 0 0 #f9a34c;
}

#textarea1:focus+label {
    color: #f9a34c;
}

.centeredList {
    text-align: center;
    list-style-position: inside;
    display: inline-block;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #ff6f00;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #ff6f00;
}

#adminButton {
    display: flex;
    justify-content: center;
}


/*moblie style*/

@media(max-width: 600px) {}

x) {}

x) {}

) {}


/*moblie style*/

@media(max-width: 600px) {}


/*--------------menu---------------*/


/* Remove margins and padding from the list, and add a black background color */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}


/* Float the list items side by side */

ul.topnav span:not(:first-child) {
    float: right;
}


/* Style the links inside the list items */

ul.topnav span :first-child {
    display: inline;
    color: #333;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav span a {
    display: inline;
    padding: 20px 30px 20px 30px;
    margin-right: 30px;
    margin-top: 30px;
}

ul.topnav span img {
    display: inline;
    padding: 30px 30px 30px 30px;
    margin-right: 30px;
    margin-top: 10px;
}

ul.topnav span a {
    display: inline;
    color: #333;
    text-align: center;
    padding: 30px 30px 30px 30px;
    margin-right: 30px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    top: 20px;
}

.margin-bottom {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Change background color of links on hover */

.hover-orange :hover {
    background-color: #f9a34c;
    color: #555
}


/* Hide the list item that contains the link that should open and close the topnav on small screens */

ul.topnav span.icon {
    display: none;
}


/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */

@media screen and (max-width:680px) {
    ul.topnav span:not(:first-child) {
        display: none;
    }
    ul.topnav span.icon {
        float: right;
        display: flex;
    }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */

@media screen and (max-width:680px) {
    ul.topnav.responsive {
        position: absolute;
        ;
    }
    ul.topnav.responsive span.icon {
        position: fixed;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive span {
        float: none;
        display: inline;
    }
    ul.topnav.responsive span a {
        display: block;
        text-align: left;
    }
    ul.topnav span :first-child {
        display: inline;
        color: #333;
        text-align: center;
        /*padding: 20px 20px 20px;
      margin-left: 0px;
      margin-top: 10px;
      margin-right: 30px;*/
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
    }
}


/*#no-move{
    position: fixed;
    top: 0;
    right: 0;
}*/

.will-center img {
    /*border: 1px solid red;*/
    position: fixed;
    top: 0;
    left: 0;
}

#img-height {
    height: 15vh;
}


/*--------------end menu---------------*/

.in_block {
    display: inline-block;
}

.bottom-margin {
    margin-bottom: 90px;
}

.center-me {
    text-align: center;
    margin: 40px;
}

.sides-margin {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.please {
    margin-bottom: 30px;
}

.top-hat {
    margin-top: 30px;
}

.neg-top {
    margin-top: -25px;
}

.bottom-spacing-focus {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.red-test {
    border: 1px solid red
}
.top-margin{
    margin-top: 45px;
}
.move-rightup{
    left:78vw;
    top: 5vh;
}
.bolded{
    /*font-weight: bold;*/
    margin-bottom: -5vh;
}
.bold-mb{
    /*font-weight: bold;*/
    margin-bottom: 1vh;
    margin-top: 7vh;

}
.make-flex{
    display: flex;
    flex-direction: row;
}
.slight-down{
    margin-top: 2.8vh;
    margin-left: 1vw;
}
td,th {
  text-align: center;
}
.top-down{
    display: flex;
    flex-direction: column;
}
.need-margin-t{
    margin-top: 1vh;
}
.need-margin-b{
    margin-bottom: 1vh;
}
.lil-top{
    margin-top: 15px;
    margin-left: 80px;
}
nav{
    z-index: 100;
     position: fixed; top: 0; left: 0;
}
.photo-card {
    margin-top: -4vh;
    margin-bottom: 10vh;
}
.top-mar{
    margin-top: 75px;
}
.jump-to{
    height: 40px;
}
.inlined{
    display: inline;
    text-align: left;

}
/*ul.circles{
    list-style-type: circle
}*/
.make-orange{
    color:  #f77c00
}
.move-up{
    margin-top: -10px;
}
.bold-me{
    font-weight: bold;
    margin-top: -2px;
    /*text-align: center;*/
}
.less-bottom{
    bottom-margin: -200px;
}
.bigger{
    font-size: 130%
}
.less-top{
    margin-top: -35px;
}
.pad-btm-less{
    padding-bottom: -200px;
}
