<footer class="main-footer">
    <div class="top">
        <div class="container">
            <div class="footer-logo">
                <img src="http://i.imgur.com/fftCkZp.png" alt="logo">
            </div>
            <div class="footer-social-area">
                <ul class="social footer-social">
                    <li><a href="https://www.facebook.com/sandboxcommerce" class="btn"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="http://www.twitter.com/sandboxcommerce" class="btn"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/sandbox-app" class="btn"><i class="ion-social-linkedin"></i></a></li>
                    <li><a href="#" class="btn"><i class="material-icons">work</i></a></li>
                    <!-- <li><a href="#" class="btn"><i class="ion-social-pinterest"></i></a></li> -->
                    <!-- <li><a href="#" class="btn"><i class="ion-social-instagram"></i></a></li>  -->
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
          <p> <i class="ion-ios-location"></i> SandBox Commerce <br>118 Nueces St. <br>  Austin, TX 78701</p>
          <p> <i class="ion-android-call"></i>(512)956-8997</p>
          <p><i class="ion-ios-email"></i> info@sandboxcommerce.com</p>
          <p>Sandbox App, Inc. 2016. All Rights Reserved.</p>
        </div>
    </div>
</footer>
