<!-- <footer class="main-footer">
    <div class="top">
        <div class="container">
            <div class="footer-logo">
                <img src="http://i.imgur.com/fftCkZp.png" alt="logo">
            </div>
            <div class="footer-social-area">
                <ul class="social footer-social">
                    <li><a href="https://www.facebook.com/sandboxcommerce" class="btn"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="http://www.twitter.com/sandboxcommerce" class="btn"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/sandbox-app" class="btn"><i class="ion-social-linkedin"></i></a></li>
                    <li><a href="#" class="btn"><i class="material-icons">work</i></a></li> -->
                    <!-- <li><a href="#" class="btn"><i class="ion-social-pinterest"></i></a></li> -->
                    <!-- <li><a href="#" class="btn"><i class="ion-social-instagram"></i></a></li>  -->
                <!-- </ul>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
          <p> <i class="ion-ios-location"></i> SandBox Commerce <br>118 Nueces St. <br>  Austin, TX 78701</p>
          <p> <i class="ion-android-call"></i>(512)956-8997</p>
          <p><i class="ion-ios-email"></i> info@sandboxcommerce.com</p>
          <p>Sandbox App, Inc. 2016. All Rights Reserved.</p>
        </div>
    </div>
</footer> -->

<footer class="page-footer grey darken-3">
  <!-- #1E1E1E -->
          <div class="container">
            <div class="row">
              <!-- <div class="col l6 s12"> -->
                <div class="col s12 offset-m2 offset-l2">

                  <img src="http://i.imgur.com/fftCkZp.png" alt="">

                </div>
                <p class="grey-text text-lighten-4"></p>
              <!-- </div> -->
              <div class="row">
                <div class="col s6 offset-m2 offset-l2">
                <ul class="lowerIconsFooter ">
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/sandboxcommerce"><img src="images/sbc-facebook-icon.png" class="responsive-image" alt="" width="50" onmouseover="this.src='images/white-facebook-icon.png';" onmouseout="this.src='images/sbc-facebook-icon.png';"></a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.twitter.com/sandboxcommerce"><img src="images/sbc-linkedin-icon.png" class="responsive-image" alt="" width="50" onmouseover="this.src='images/white-linkedin-icon.png';" onmouseout="this.src='images/sbc-linkedin-icon.png';"></a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/company/sandbox-app"><img src="images/sbc-twitter-icon_160.png" class="responsive-image" alt="" width="50" onmouseover="this.src='images/white-twitter-icon.png';" onmouseout="this.src='images/sbc-twitter-icon_160.png';"></a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"><img src="images/sbc-briefcase-icon.png" class="responsive-image" alt="" width="50" onmouseover="this.src='images/white-briefcase-icon.png';" onmouseout="this.src='images/sbc-briefcase-icon.png';"></a></li>
                </ul>
              </div>
              </div>
            </div>
          </div>
            <div class="grey darken-4">
              <!-- #171717 -->
              <div class="row">
              <div class="lowerFooterText">
              <ul>
                <p class="center-align">SandBox Commerce</p>
                <p class="center-align">109 E 10th St,</p>
                <p class="center-align">Austin TX, 78701</p>
                <p class="center-align">(512)956-8997</p>
                <p class="center-align">info@sandboxcommerce.com</p>
                <p class="center-align">Sandbox App, Inc. 2017. All Rights Reserved</p>
              </ul>
            </div>
              </div>
            </div>

        </footer>



        <!-- <div class="bottom">
                        <div class="container">
                          <p> <i class="ion-ios-location"></i> SandBox Commerce <br>118 Nueces St. <br>  Austin, TX 78701</p>
                          <p> <i class="ion-android-call"></i>(512)956-8997</p>
                          <p><i class="ion-ios-email"></i> info@sandboxcommerce.com</p>
                          <p>Sandbox App, Inc. 2016. All Rights Reserved.</p>
                        </div>
                    </div> -->
