<!-- desktop menu -->
<!-- <div class="header-big-screen hidden-sm hidden-xs"> -->
<div class="row">
    <div class="col s12">
        <a href="http://www.sandboxcommerce.com" class="logo">
        </a>
        <nav>
            <ul>
                <div >
                    <img src="images/stacked.png" alt=" sandbox commerce logo">

                </div>
                <li><a href="#packages" data-section="#packages" class>Pricing</a></li>
                <li><a href="#contact" data-section="#contact" class>Contact</a></li>
                <li><a href="http://help.sandboxcommerce.com" target="_blank">FAQ</a></li>
                <li><a href="http://beta.sandboxcommerce.com/#/login" target="_blank" class>Login</a></li>
                <li><a href="http://beta.sandboxcommerce.com/#/register" target="_blank" class onClick="ga('send', { 'hitType': 'event','eventCategory': 'LandingPage','eventAction': 'ClickAction','eventLabel': 'TryNowLink'});">Try Now!</a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- </div> -->
