<ng-include src="'partials/sideNav.html'"></ng-include>

  <div class="container2">
    <h1>History</h1>

            <h2>Referral Program History</h2>
              <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Company</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <td>Status</td>
                        <td>Amount</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Example Company</td>
                        <td>Shooter McGavin</td>
                        <td>(512)-555-5555</td>
                        <td>shooter.mcgavin@gmail.com</td>
                        <td>Active</td>
                        <td>$300,000</td>
                    </tr>
                    <tr>
                        <td>Example Company</td>
                        <td>Shooter McGavin</td>
                        <td>(512)-555-5555</td>
                        <td>shooter.mcgavin@gmail.com</td>
                        <td>Active</td>
                        <td>$55</td>
                    </tr>
                    <tr>
                        <td>Example Company</td>
                        <td>Shooter McGavin</td>
                        <td>(512)-555-5555</td>
                        <td>shooter.mcgavin@gmail.com</td>
                        <td>Active</td>
                        <td>$17</td>
                    </tr>
                    <tr>
                        <td>Example Company</td>
                        <td>Shooter McGavin</td>
                        <td>(512)-555-5555</td>
                        <td>shooter.mcgavin@gmail.com</td>
                        <td>Active</td>
                        <td>$4</td>
                    </tr>
                    <tr>
                        <td>Example Company</td>
                        <td>Shooter McGavin</td>
                        <td>(512)-555-5555</td>
                        <td>shooter.mcgavin@gmail.com</td>
                        <td>Active</td>
                        <td>$1,000,000</td>
                    </tr>
                    <tr>
                        <td>Example Company</td>
                        <td>Shooter McGavin</td>
                        <td>(512)-555-5555</td>
                        <td>shooter.mcgavin@gmail.com</td>
                        <td>Active</td>
                        <td>$27</td>
                    </tr>
                </tbody>
        </table>
        </div>


        <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
        <script type='text/javascript' src='app.js'></script>
