<div class="myContainer">

<h1 class="center">Sandbox Referrals Program</h1>

<div class="center">
<img src="https://files.slack.com/files-tmb/T0DS38JTE-F3MHA7FUY-a958963bc5/people-office-group-team_1024.jpg" alt="">
</div>


<h1 class="center">Sandbox Referrals Program</h1>
<h3 class="center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</h3>
<p class="center">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
<!-- the form card -->

<div class="card">
<div class="col s12 m5 l8">
<div class="input-field">
<div class="card-content">

<form action="" input type="text">
   <input placeholder="First Name"  type="text"/>
   <input placeholder="Last Name"  type="text"/>
   <input placeholder="Email"  type="text"/>
   <input placeholder="Phone"  type="text"/>
   <input placeholder="Password"  type="text"/>
   <input placeholder="Confirm Password"  type="text"/>
 </form>
</div>
</div>
<div class="right">
<button class="submitBtn btn waves-effect waves-light" type="submit" name="action">Submit
</div>
</button>
</div>
</div>
</div>
