<p>{{view.booyah}}</p>
<p>BOOYAH from logged out referral confirmation controller</p>


        <!-- sign up card-->

        <div>
        <h1>Referrals Page</h1>
        <div class="testBox" width="100px" height="100px" background-color="red"></div>
        <script src="../bundle.js"></script>

        <div class="row">
          <div class="col s12 m5 l8">
            <div class="card white">
              <div class="input-field">
                <div class="card-content">
                <div class="center">
                  <img src="/images/checked.png" alt="">
                </div>
                <br>
                    <h5>Thank you for providing the referral information. You will only be able to track your progress after you register and login.</h5>
                </br>
              </div>
             </div>
             <div class="right">
             <button class="submitBtn btn waves-effect waves-light" type="submit" name="action">Register
             </div>
             </button>
             <div class="right">
             <button class="submitBtn btn waves-effect waves-light" type="submit" name="action">Close
             </div>
             <div class="right">
             <button class="submitBtn btn waves-effect waves-light" type="submit" name="action">Log In
             </div>
             </button>
            </div>
          </div>
        </div>
        </div>
