<ng-include src="'partials/navbar.html'"></ng-include>

<div class="myContainer bottom-margin">
    <div class="row">
        <div class="col s12 m8 l8 offset-m2 offset-l2">
            <div class="card">
                <div class="input-field">
                    <div class="cardContent">
                        <div>
                            <img src="/images/checked.png" alt="">
                        </div>
                    </div>
                    <br>
                    <h5>Thank you for providing the referral information. You will be able to track your progress on the history page.</h5>
                    </br>

                    <div class="row">
                        <div class="loginButtons">
                            <div class="closeButtonLogin">
                                <button class="submitBtn btn waves-effect waves-light wButton" type="" name="" ng-click="view.closeClicked($event)">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <ng-include src="'partials/footer.html'"></ng-include>
