<div class="row fixed-class">

    <nav class="white">

        <div class="leftSide">
            <a href="http://www.sandboxcommerce.com/" class="brand-logo">
                <img class='lil-top' src="http://i.imgur.com/cFAicmX.png" alt="SBC-logo" width="300">
            </a>
        </div>
        <div class="rightSideNavButtons">

            <ul class="left hide-on-med-and-down">
                <!-- <li><a href="http://www.sandboxcommerce.com/pricing/" data-section="#packages" class="black-text orangeLine">PRICING</a></li>
                <li><a href="http://help.sandboxcommerce.com" class="black-text orangeLine">FAQ</a></li> -->
                <li><a href="##ref_sub" target="_self" class="black-text orangeLine">SUBMIT REFERRAL</a></li>
                <li><a href="/#/login" class="black-text orangeLine">REFERRALS LOGIN</a></li>
                <li><a  class="background-color="></a></li>
            </ul>
        </div>

    </nav>
</div>
