<div class="row">

    <nav class="white">

        <div class="leftSide">
            <a href="http://www.sandboxcommerce.com/" class="brand-logo">
                <img src="http://i.imgur.com/cFAicmX.png" alt="">
            </a>
        </div>
        <div class="rightSideNavButtons">

            <ul class="left hide-on-med-and-down">
                <li><a href="#packages" data-section="#packages" class="black-text orangeLine">Pricing</a></li>
                <li><a href="#contact" data-section="#contact" class="black-text orangeLine">Contact</a></li>
                <li><a href="http://help.sandboxcommerce.com" class="black-text orangeLine">FAQ</a></li>
                <li><a href="http://beta.sandboxcommerce.com/#/login" class="black-text orangeLine">Editor</a></li>
                <li><a href="http://beta.sandboxcommerce.com/#/register" class="background-color=">Try Now!</a></li>
            </ul>
        </div>

    </nav>
</div>
