<ng-include src="'partials/loggedOutNavbar.html'"></ng-include>

<div class="myContainer bottom-margin">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="input-field">
                    <div class="cardContent bottom-spacing-focus">
                        <form ng-submit="view.loginClicked($event)" name='form'>
                            <div class="paddingBottom">
                                <img src="images/stacked.png" alt="">

                            </div>
                            <input ng-model="view.loginInfo.email" type="text" placeholder="email" id="textarea1">
                            <input ng-model="view.loginInfo.password" type="text" placeholder="password" id="textarea1">

                            <div class="row top-hat">
                                <div class="loginButtons">
                                    <div class="closeButtonLogin">
                                        <a class="submitBtn btn waves-effect waves-light wButton" type="" name="">Close</a>

                                    </div>
                                    <button class="submitBtn btn waves-effect waves-light sbButton" type="submit" name="action">Login</button>
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-include src="'partials/footer.html'"></ng-include>
