<div class="row">

    <nav class="white">

        <div class="leftSide">
            <a href="http://www.sandboxcommerce.com/" class="brand-logo">
                <img src="http://i.imgur.com/cFAicmX.png" alt="SBC-logo" width="300">
            </a>
        </div>
        <div class="rightSideNavButtons">

            <ul class="left hide-on-med-and-down">
                <li><a href="/#/submitreferral" class="black-text orangeLine">New Referral</a></li>
                <li><a href="/#/table" class="black-text orangeLine">History</a></li>
                <li><a ng-click=logout() class="black-text orangeLine">Logout</a></li>
                <!-- <li><a href="http://help.sandboxcommerce.com" class="black-text orangeLine">FAQ</a></li>
                <li><a href="http://beta.sandboxcommerce.com/#/login" class="black-text orangeLine">Login</a></li>
                <li><a href="http://beta.sandboxcommerce.com/#/register" class="background-color=">Try Now!</a></li> -->
            </ul>
        </div>

    </nav>
</div>
