<div class="row">

    <nav class="white">

        <div class="leftSide">
            <a href="http://www.sandboxcommerce.com/" class="brand-logo">
                <img class='lil-top' src="http://i.imgur.com/cFAicmX.png" alt="SBC-logo" width="300">
            </a>
        </div>
        <div class="rightSideNavButtons">

            <ul class="left hide-on-med-and-down">
                <li><a href="/#/submitreferral" class="black-text orangeLine">NEW REFERRAL</a></li>
                <li><a href="/#/table" class="black-text orangeLine">HISTORY</a></li>
                <li><a ng-click=logout() class="black-text orangeLine">LOGOUT</a></li>
                <li><a  class="background-color="></a></li>
            </ul>
        </div>

    </nav>
</div>
