<ng-include src="'partials/navbar.html'"></ng-include>


<h5>Converted Referrals</h5>
<div class="card">
    <table class="striped responsive-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Company</th>
                <th>Email</th>
                <th>Amount to Date</th>
                <th>Next Payout Date</th>
                <th>Next Payout</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="referral in data">
                <td>{{referral.leadName}}</td>
                <td>{{referral.leadCompanyName}}</td>
                <td>{{referral.leadEmail}}</td>
                <td>{{amountToDate}}</td>
                <td>{{date}}</td>
                <td>{{payout}}</td>
                <td>{{referral.activeReferral?'Active':'InActive'}}</td>
                </td>
            </tr>
        </tbody>
    </table>
</div>



<script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
<script type='text/javascript' src='app.js'></script>


<ng-include src="'partials/footer.html'"></ng-include>
