<!-- <ul class="topnav" id="myTopnav">
  <span><a class='will-center' ng-href="/#/">
      <img id='img-height' src="http://i.imgur.com/cFAicmX.png"/>
  </a></span>

  <span class='hover-orange margin-bottom'><a ng-href="/#/table">HISTORY</a></span>
  <span class='hover-orange margin-bottom'><a ng-href="/#/logout">LOGOUT</a></span>
  <span class="icon" id='no-move'>
    <a ng-href="javascript:void(0);" ng-click="view.menuFunction()">&#9776;</a>
</span>
</ul> -->


<!--
<div class="row">
        <div class="col s12">
            <a href="http://www.sandboxcommerce.com" class="logo">
            </a>
            <nav>
                <ul>
                  <div>
                    <img src="images/stacked.png" alt=" sandbox commerce logo">

                  </div>
                    <li><a href="#packages" data-section="#packages" class>Pricing</a></li>
                    <li><a href="#contact" data-section="#contact" class>Contact</a></li>
                    <li><a href="http://help.sandboxcommerce.com" target="_blank">FAQ</a></li>
                    <li><a href="http://beta.sandboxcommerce.com/#/login" target="_blank"  class>Login</a></li>
                    <li><a href="http://beta.sandboxcommerce.com/#/register" target="_blank" class onClick="ga('send', { 'hitType': 'event','eventCategory': 'LandingPage','eventAction': 'ClickAction','eventLabel': 'TryNowLink'});">Try Now!</a></li>
                </ul>
            </nav>
          </div>
        </div> -->



      <div class="row">

        <nav class="white">

              <div class="leftSide">
                <a href="http://www.sandboxcommerce.com/" class="brand-logo">
                <img src="http://i.imgur.com/cFAicmX.png" alt="">
                </a>
              </div>
              <div class="rightSideNavButtons">

              <ul class="left hide-on-med-and-down">
                <li><a href="#packages" data-section="#packages" class="black-text orangeLine">Pricing</a></li>
                <li><a href="#contact" data-section="#contact" class="black-text orangeLine">Contact</a></li>
                <li><a href="http://help.sandboxcommerce.com" class="black-text orangeLine">FAQ</a></li>
                <li><a href="http://beta.sandboxcommerce.com/#/login" class="black-text orangeLine">Login</a></li>
                <li><a href="http://beta.sandboxcommerce.com/#/register" class="background-color=">Try Now!</a></li>
              </ul>
            </div>

          </nav>
        </div>

<!-- <div class="card-panel teal lighten-2">This is a card panel with a teal lighten-2 class</div> -->
