<ul class="topnav" id="myTopnav">
  <span><a class='will-center' ng-href="/#/">
      <img id='img-height' src="http://i.imgur.com/cFAicmX.png"/>
  </a></span>
  <!-- <li><a ng-href="/#/login">News</a></li> -->
  <span class='hover-orange margin-bottom'><a ng-href="/#/table">HISTORY</a></span>
  <span class='hover-orange margin-bottom'><a ng-href="/#/logout">LOGOUT</a></span>
  <span class="icon" id='no-move'>
    <a ng-href="javascript:void(0);" ng-click="view.menuFunction()">&#9776;</a>
</span>
</ul>
